Repository Phala-Network/phala-docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-mintlify-config, check-internal-links

.pre-commit-config.yaml:

repos:
  # Built-in hooks for basic file validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: ^.*\.(md|mdx)$
      - id: end-of-file-fixer
        exclude: ^.*\.(md|mdx)$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: mixed-line-ending
        args: [--fix=lf]

  # JSON formatting and validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: pretty-format-json
        args: [--autofix, --indent=2]
        files: ^docs\.json$

  # Local hooks for Mintlify-specific validation
  - repo: local
    hooks:
      # Validate docs.json structure and redirects
      - id: validate-mintlify-config
        name: Validate Mintlify docs.json
        entry: python3
        args: [.scripts/validate-redirects.py]
        language: system
        files: ^docs\.json$
        always_run: false
        pass_filenames: false

      # Check for broken internal links in MDX files
      - id: check-internal-links
        name: Check internal links in MDX files
        entry: python3
        args: [.scripts/check-internal-links.py]
        language: system
        files: \.mdx?$
        always_run: false
        pass_filenames: false


  # Markdown linting (using markdownlint-cli2)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.10.0
    hooks:
      - id: markdownlint-cli2
        args: [--config, .markdownlint.yaml]
        files: \.mdx?$

more checks 2
  .github/workflows/docs-validation.yml
  .scripts/check-internal-links.py
Due: none

more checks 3
  .markdownlint.yaml
Due: none

add public pccs server
  phala-cloud/tees-attestation-and-zero-trust-security/attestation.mdx
Due: check-internal-links

update structure of tabs
  docs.json
Due: validate-mintlify-config

update cloud home page, network home page and footer
  docs.json
  index.mdx
  network/index.mdx
Due: validate-mintlify-config, check-internal-links

merge cloud to phala-cloud and change network overview title
  docs.json
  network/index.mdx
  phala-cloud/faqs.mdx
  phala-cloud/getting-started/getting-started.mdx
  phala-cloud/getting-started/overview.mdx
  phala-cloud/getting-started/sign-up-for-cloud-account.mdx
  phala-cloud/getting-started/start-from-cloud-ui.mdx
  phala-cloud/use-cases/overview.mdx
  phala-cloud/use-cases/tee_with_ai.mdx
  phala-cloud/use-cases/tee_with_fhe_and_mpc.mdx
  phala-cloud/use-cases/tee_with_zk_and_zkrollup.mdx
  phala-cloud/use-cases/use-cases.mdx
Due: validate-mintlify-config, check-internal-links

fix missing prefix /
  docs.json
Due: validate-mintlify-config

fix typo
  docs.json
Due: validate-mintlify-config

add tab of confidential-api
  confidential-ai/gpu-tee/benchmark.mdx
  confidential-ai/gpu-tee/faqs.mdx
  confidential-ai/gpu-tee/inference-api.mdx
  confidential-ai/gpu-tee/llm-in-tee.mdx
  docs.json
  network/index.mdx
  overview/phala-network/gpu-tee.mdx
Due: validate-mintlify-config, check-internal-links

Rewrite README.md as AI-focused documentation homepage
  README.md
Due: check-internal-links

Rewrite README.md as AI-focused documentation homepage
  .pre-commit-config.yaml
  .scripts/README.md
  .scripts/check-internal-links.py
  .scripts/check_links.py
  .scripts/extract_links.py
  .scripts/extracted_links.txt
  .scripts/validate-redirects.py
Due: check-internal-links

fix links
  docs.json
  network/compute-providers/gatekeeper/overview.mdx
  network/references/subbridge/cross-chain-transfer.mdx
Due: validate-mintlify-config, check-internal-links

Fix GitHub Actions workflow to use new link validation scripts
  .github/workflows/docs-validation.yml
Due: none

fix links and getting started page
  docs.json
  index.mdx
  phala-cloud/getting-started/overview.mdx
Due: validate-mintlify-config, check-internal-links

multi file support for check_links
  .scripts/check_links.py
  .scripts/used_links/doc_links.txt
Due: none

link and page fixes
  docs.json
  dstack/overview.mdx
  network/index.mdx
  network/references/advanced-topics/cross-chain-solutions.mdx
  network/references/advanced-topics/run-local-testnet.mdx
  network/references/advanced-topics/sidevm.mdx
  network/references/advanced-topics/system-contract-and-drivers.mdx
  network/references/faq.mdx
  network/references/hackathon-guides/ethglobal-bangkok.mdx
  network/references/hackathon-guides/ethglobal-san-francisco.mdx
  network/references/hackathon-guides/ethglobal-singapore.mdx
  network/references/support/block-explorers.mdx
  network/references/support/compatibility-matrix.mdx
  network/references/support/endpoints.mdx
  network/references/support/faucet.mdx
  network/references/support/resource-limits.mdx
  network/references/support/transaction-costs.mdx
  overview/phala-network/dstack.mdx
  overview/phala-network/gpu-tee.mdx
  overview/phala-network/phala-cloud.mdx
  phala-cloud/getting-started/core-concepts-refresher.mdx
  phala-cloud/getting-started/getting-started.mdx
Due: validate-mintlify-config, check-internal-links

Implement URL normalization and parent path support in validation scripts
  .scripts/check_links.py
  .scripts/extract_google_csv_links.py
  .scripts/used_links/google-search-console.txt
  .scripts/validate-redirects.py
  docs.json
  network/references/archived-projects.mdx
  network/references/basic-guidance/get-pha-and-transfer.mdx
  phala-cloud/getting-started/overview.mdx
  phala-cloud/references/cloud-api-beta/overview.mdx
Due: validate-mintlify-config, check-internal-links

branding
  docs.json
  favicon.ico
  favicon.png
  images/phala-dark.png
  images/phala-light.png
Due: validate-mintlify-config

Update link validation scripts to support Mintlify /:slug* wildcard syntax
  .scripts/check_links.py
  .scripts/validate-redirects.py
  docs.json
Due: validate-mintlify-config

merge confidential-ai to phala-cloud/confidential-ai
  README.md
  docs.json
  index.mdx
  network/index.mdx
  phala-cloud/confidential-ai/gpu-tee/benchmark.mdx
  phala-cloud/confidential-ai/gpu-tee/faqs.mdx
  phala-cloud/confidential-ai/gpu-tee/inference-api.mdx
  phala-cloud/confidential-ai/gpu-tee/llm-in-tee.mdx
  phala-cloud/getting-started/core-concepts-refresher.mdx
Due: validate-mintlify-config, check-internal-links

update readme
  .scripts/README.md
Due: check-internal-links

Add performance report
  docs.json
  phala-cloud/be-production-ready/performance-report.mdx
Due: validate-mintlify-config, check-internal-links

update secrets page
  docs.json
  phala-cloud/phala-cloud-user-guides/create-cvm/set-secure-environment-variables.mdx
Due: validate-mintlify-config, check-internal-links

add phala-cloud/what-is-phala-cloud
  docs.json
  phala-cloud/getting-started/core-concepts-refresher.mdx
  phala-cloud/what-is-phala-cloud/overview.mdx
Due: validate-mintlify-config, check-internal-links

add new directory
  docs.json
  phala-cloud/attestation/overview.mdx
  phala-cloud/gpu-cvm/overview.mdx
  phala-cloud/phala-cloud-cli/overview.mdx
Due: validate-mintlify-config, check-internal-links

add more untracked links
  .scripts/README.md
  .scripts/used_links/google-search-console.txt
  docs.json
  phala-cloud/support.mdx
Due: validate-mintlify-config, check-internal-links

add redir for /migration
  .scripts/used_links/google-search-console.txt
  docs.json
Due: validate-mintlify-config

update page title and update nvigation
  docs.json
  index.mdx
  phala-cloud/attestation/overview.mdx
  phala-cloud/faqs.mdx
  phala-cloud/getting-started/overview.mdx
  phala-cloud/gpu-cvm/overview.mdx
  phala-cloud/phala-cloud-cli/overview.mdx
  phala-cloud/what-is-phala-cloud/overview.mdx
Due: validate-mintlify-config, check-internal-links

update icon
  docs.json
  dstack/acknowledgement.mdx
  dstack/faqs.mdx
  dstack/getting-started.mdx
  dstack/local-development.mdx
  dstack/overview.mdx
  phala-cloud/attestation/overview.mdx
  phala-cloud/be-production-ready/performance-report.mdx
  phala-cloud/be-production-ready/production-checklist.mdx
  phala-cloud/confidential-ai/gpu-tee/faqs.mdx
  phala-cloud/confidential-ai/gpu-tee/inference-api.mdx
  phala-cloud/confidential-ai/gpu-tee/llm-in-tee.mdx
  phala-cloud/faqs.mdx
  phala-cloud/getting-started/explore-templates/overview.mdx
  phala-cloud/getting-started/explore-templates/start-from-template.mdx
  phala-cloud/references/cloud-api-beta/overview.mdx
Due: validate-mintlify-config, check-internal-links

fix card image and links
  phala-cloud/tees-attestation-and-zero-trust-security/security-architecture.mdx
Due: check-internal-links

update layout of page
  phala-cloud/tees-attestation-and-zero-trust-security/security-architecture.mdx
Due: check-internal-links

fix image layout bug
  phala-cloud/getting-started/explore-templates/overview.mdx
Due: check-internal-links

update layout of table
  phala-cloud/getting-started/core-concepts-refresher.mdx
Due: check-internal-links

fix page icons
  phala-cloud/phala-cloud-user-guides/building-with-tee/verify-remote-attestation.mdx
  phala-cloud/phala-cloud-user-guides/create-cvm/resize-resource.mdx
Due: check-internal-links

remove navigation links
  docs.json
Due: validate-mintlify-config

hide what-is page and update index page title
  docs.json
  index.mdx
Due: validate-mintlify-config, check-internal-links

refactor pages and dirs
  docs.json
  phala-cloud/attestation/get-attestation.mdx
  phala-cloud/attestation/verifying-attestation.mdx
  phala-cloud/getting-started/attestation.mdx
  phala-cloud/getting-started/explore-templates/launch-an-eliza-agent.mdx
  phala-cloud/getting-started/explore-templates/overview.mdx
  phala-cloud/getting-started/explore-templates/start-from-template.mdx
  phala-cloud/getting-started/sign-up-for-cloud-account.mdx
  phala-cloud/getting-started/start-from-cloud-ui.mdx
  phala-cloud/gpu-cvm/overview.mdx
  phala-cloud/image/overview.mdx
  phala-cloud/key-management/cloud-vs-onchain-kms.mdx
  phala-cloud/key-management/generate-and-persist-key.mdx
  phala-cloud/key-management/key-management-protocol.mdx
  phala-cloud/networking/expose-service-port.mdx
  phala-cloud/networking/generate-ra-report.mdx
  phala-cloud/networking/overview.mdx
  phala-cloud/networking/protect-cvm-endpoint.mdx
  phala-cloud/networking/setting-up-custom-domain.mdx
  phala-cloud/phala-cloud-cli/overview.mdx
  phala-cloud/phala-cloud-user-guides/building-with-tee/verify-remote-attestation.mdx
  phala-cloud/phala-cloud-user-guides/create-cvm/create-with-docker-compose.mdx
  phala-cloud/phala-cloud-user-guides/create-cvm/create-with-private-docker-image.mdx
  phala-cloud/phala-cloud-user-guides/create-cvm/debugging-and-analyzing-logs/check-logs.mdx
  phala-cloud/phala-cloud-user-guides/create-cvm/debugging-and-analyzing-logs/debug-your-application.mdx
  phala-cloud/phala-cloud-user-guides/create-cvm/debugging-and-analyzing-logs/private-log-viewer.mdx
  phala-cloud/phala-cloud-user-guides/create-cvm/deployment-cheat-sheet.mdx
  phala-cloud/phala-cloud-user-guides/create-cvm/overview.mdx
  phala-cloud/phala-cloud-user-guides/create-cvm/resize-resource.mdx
  phala-cloud/phala-cloud-user-guides/create-cvm/set-secure-environment-variables.mdx
  phala-cloud/phala-cloud-user-guides/create-cvm/upgrade-application.mdx
  phala-cloud/storage/access-database.mdx
  phala-cloud/what-is/what-is-phala-cloud.mdx
  phala-cloud/what-is/what-is-tee.mdx
Due: validate-mintlify-config, check-internal-links
